.page--nouveaunes {
    div {
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        max-height:960px;
        @include mobile-only {
            max-height:none;
        }
        p {
            width:47%;
            height:fit-content;
            margin-right:6%;
            @include mobile-only {
                width:100%;
                margin-right:0px;
            }
        }
    }
}