.tarifs-options {
    .options-title {
        display:flex;
        align-items: center;
        width:100%;
        .bar {
            height:1px;
            width:100%;
            background-color: #4d4547;
        }
        h2 {
            font-weight:bold;
            font-size:48px;
            width:fit-content;
            margin:16px;
        }
    }
    h3 {
        font-size:24px;
    }
    .other-options {
        font-weight:bold;
        font-size:27px;
    }
    ul {
        padding-left:24px;
    }
    .other-options-list {
        padding-left:8px;
        list-style-type: none;
        li::before {
            content: "-";
            margin-right:16px;
        }
        .paiement3x {
            font-size:20px;
            margin-top:20px;
            margin-bottom:10px;
        }
    }
}