footer {
    display:flex;
    justify-content: space-between;
    min-height:80px;
    margin:auto;
    padding-top:30px;
    max-width:1200px;
    min-height:80px;
    @include mobile-only {
        max-width:100%;
        flex-wrap:wrap;
    }
    div {
        @include mobile-only {
            width:100%;
        }
    }
    ul {
        display:flex;
        list-style:none;
        margin:0;
        @include mobile-only {
            flex-wrap:wrap;
        }
        li {
            margin: 0em 1em;
            a {
            font-family:'Playfair Display';
            text-decoration: none;
            color:black;
            }
        }
    }
}