
header {
    display:flex;
    .logo {
        width:200px;
    }
    nav {
        ul {
            display:flex;
            list-style:none;
            li {
                margin: 1em;
                a {
                font-family:'Playfair Display';
                text-decoration: none;
                color:black;
                }
            }
        }
    }
}

