.introduction {
    background-image: url("assets/1_Accueil/banner.jpg");
    background-size: auto 100%; /* Ajuste la largeur à 100% et la hauteur automatiquement */
    background-repeat: no-repeat;
    background-position: center center; /* Centre l'image dans le bloc */
    width:100%;
    height:1080px;
    z-index:1;
    display: flex; /* Utilise Flexbox pour le premier bloc */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    .alpha-grey {
        width:inherit;
        height:inherit;
        position:absolute;
        background-color:rgba(40,40,40,0.6);
        z-index:2;
    }
    &__welcome {
        position:relative;
        z-index:3;
        color:white;
        vertical-align: middle;
        display: flex; /* Utilise Flexbox pour le premier bloc */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        flex-wrap:wrap;
        h1 {
            font-family:'Playfair Display';
            width:100%;
            text-align:center;
            font-size:62px;
            text-shadow:1px 1px 8px rgba(0, 0, 0, 1)
        }
        p {
            width:60%;
            text-align:center;
            font-size:28px;
            font-weight:500;
            line-height:1em;
            text-shadow:1px 1px 8px rgba(0, 0, 0, 1)
        }
    }
}
.works {
    background: #f6f7fa;
    width:100%;
    height:fit-content;
    padding-bottom:50px;
    h2 {
        text-align:center;
        color:#313131;
        font-weight:800;
        line-height:1;
        font-size:32px;
        width:65%;
        margin:auto;
        padding:50px 0;
    }
    &__photos {
        display:flex;
        margin:auto;
        width:fit-content;
        height:300px;
        @include mobile-only {
            flex-wrap:wrap;
            height:fit-content;
        }
        img {
            margin:10px;
            @include mobile-only {
                width:80vw;
                margin:10px auto;
            }
        }
    }
}
.about {
    background-color:#f5eff0;
    width:100%;
    min-width:800px;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content:center;
    @include mobile-only {
        flex-wrap:wrap;
        min-width:0;
    }
    img {
        width:550px;
        height:fit-content;
        margin:60px 30px;
        @include mobile-only {
            width:80vw;
        }
    }
    &__text {
        margin:30px;
        width:480px;
    }
    &__intro {
        font-weight:600;
    }
    p {
        line-height:1.7em;
    }
}
.quotations {
    background-image: url("./assets/6_Famille/293720900_5579237532140287_231894065122592073_n.jpg");

    background-repeat: no-repeat;
    background-position: center center; /* Centre l'image dans le bloc */
    width:100%;
    height:600px;
    object-fit:scale-down;
    z-index:1;
    display: flex; /* Utilise Flexbox pour le premier bloc */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    @include mobile-only {
        width:100%;
        height:400px;
    }
    .alpha-grey {
        width:inherit;
        height:inherit;
        position:absolute;
        background-color:rgba(79, 79, 79, 0.4);
        z-index:2;
    }
    &__quotes {
        position:relative;
        z-index:3;
        color:white;
        vertical-align: middle;
        display: flex; /* Utilise Flexbox pour le premier bloc */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        flex-wrap:wrap;
        h1 {
            font-family:'Playfair Display';
            width:100%;
            text-align:center;
            font-size:62px;
            text-shadow:1px 1px 8px rgba(0, 0, 0, 1)
        }
        p {
            width:60%;
            text-align:center;
            font-style:italic;
            font-size:28px;
            font-weight:500;
            line-height:1.3em;
            text-shadow:1px 1px 8px rgba(0, 0, 0, 1);
            margin:10px 0;
        }
        &__author {
            font-style:normal;
        }
    }
}